@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bgs-color      : #8e6ae8;
    --main-border-color   : #7843db;
    --main-bg-buttom-color: #7843db;
    --main-text-color     : #7843db;
    --main-white-color    : #fff;
    --main-grid-color     : #E3E3E3;
}



.logo img {
    max-width : 120px;
    max-height: 45px;
    height    : 100%;
}

.content-loader{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    display    : flex;
    align-items: center;
    height     : 100%;
}


.main {
    display        : flex;
    justify-content: center;
}

h2 {
    font-family: "Playwrite CU", cursive;
    color      : var(--main-text-color);
    font-size  : 25px;
}


.Home {
    background-image : url("../../../public/paisaje.jpeg");
    min-height       : 650px;
    background-size  : cover;
    background-repeat: no-repeat;
}

.content-login {
    margin: 0 2rem 0 auto;
}

.content-login .MuiButton-contained {
    background   : var(--main-bg-buttom-color);
    border-radius: 2px;
    line-height  : normal;
}



.gallery-image {
    width : 100%;
    height: auto;
}


.send-image-upload{
    border: 0;
    background: none;
    cursor: pointer;
}

.image-upload{
    margin-left: 2rem;
}


/* Login */


.login {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 1.5rem;
    width          : 350px;

}

.login form {
    row-gap       : 8px;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
    width         : 100%;


}


/* end Login */

/* modal */
#closeModal {
    position  : absolute;
    top       : 5px;
    right     : 10px;
    margin    : 0;
    font-size : 18px;
    min-width : auto;
    background: none;
    box-shadow: none;
    color     : var(--main-text-color);
    width     : auto;
    padding   : 0;
}

/* end modal */


.gallery-img{
    width: 100%;
    height: auto;
}