@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-bg-color:#7843db;
    --main-text-color:#7843db;
    --main-white-color:#fff;
}

.header{
    background-color: #fff;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    width: 100%;

    a {
    margin-left: 2rem;
    color: var(--main-text-color);
    text-decoration: none;
    }
}

.Gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 8px;

    img{
       width: 100%;
    }
}

.logo img{
   max-width: 120px;
   max-height: 45px;
   height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
}

.logout{
    margin: 0 2rem 0 auto ;
    color: var(--main-text-color);
    border: 0;
    background: none;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
}

h2{
    font-family: "Playwrite CU", cursive;
    color: var(--main-text-color);
    font-size: 25px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form{
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    label{
        margin-right: 1rem;
    }

}

.login .submit{
    background: var(--main-bg-color);
    color: var(--main-white-color) ;
    border: 0;
    height: 25px;
    width: 70px;
    cursor: pointer;
}

.Home{
    background-image: url("../../../public/paisaje.jpeg");
    min-height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
}

.content-login{
    margin:  0 2rem 0 auto;
}

.content-login .MuiButton-contained{
    background: var(--main-bg-color);
    border-radius: 2px;
    line-height: normal;
}

/* modal */
#closeModal{
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0;
    font-size: 18px;
    min-width: auto;
    background: none;
    box-shadow: none;
    color: var(--main-text-color);
    width: auto;
    padding: 0;
}

/* end modal */